footer{

}

nav{
    color: black !important;
}

a.navbar-brand, .nav-link{
    color: black !important;
}

.unfix{
    position: unset !important;
}

*{
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
}