/* Coolors Exported Palette - coolors.co/935f44-861657-d56aa0-bbdbb4-fcf0cc */

/* HSL */
$color1: hsla(21%, 37%, 42%, 1);
$color2: hsla(325%, 72%, 31%, 1);
$color3: hsla(330%, 56%, 63%, 1);
$color4: hsla(109%, 35%, 78%, 1);
$color5: hsla(45%, 89%, 89%, 1);

/* RGB */
$color1: rgba(147, 95, 68, 1);
$color2: rgba(134, 22, 87, 1);
$color3: rgba(213, 106, 160, 1);
$color4: rgba(187, 219, 180, 1);
$color5: rgba(252, 240, 204, 1);